<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trang chủ</title>
    <% include common/head %>
    <link rel="stylesheet" href="meals.css">
  </head>
  <body>
    <% include common/header %>
    <div class="container-fluid">
    <div class="row">
        <div class="page-heading container-fluid">
            <img src="http://www.jwmarriotthanoilife.com/Content/upload/images/inner/FoieGras.jpg" alt="Meals">
            <div class="heading"><h1>Meals</h1></div>
        </div>
    </div>
</div>
<div class="container-fluid box-content breakfast pt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="breakfast container-fluid">
                <div class="heading text-center"><h2>Breakfast</h2></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="content text-center">Enjoy a homestyle country breakfast, morning, noon, or night.
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
<% listBreakfast.forEach(function(dish){ %>
  <div class="col-3 meal-content">
      <div class="meal-content-img-box">
          <a href="#myModal<%=dish.id%>" data-toggle="modal" data-target="#myModal<%=dish.id%>"
             class="meal-content-img play-icon popup-with-zoom-anim">
              <img class="item-img"
                   src="<%=dish.thumbnail%>"
                   alt="<%=dish.name%>">
          </a>
      </div>
      <div class="modal" id="myModal<%=dish.id%>">
          <div class="modal-dialog">
              <div class="modal-content">
                  <button type="button" class="close text-right pr-2" data-dismiss="modal">&times;</button>
                  <div class="modal-body">
                      <h3 class="text-center item-detail-heading"><%=dish.name%></h3>
                      <div class="item-detail-img">
                          <img src="<%=dish.thumbnail%>"
                               alt="<%=dish.name%>">
                      </div>
                      <p class="pt-3 text-center item-detail-text"><%=dish.description%></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
<% }); %>
        </div>
    </div>
</div>
<div class="container-fluid box-content breakfast pt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="breakfast container-fluid">
                <div class="heading text-center"><h2>Lunch</h2></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="content text-center">Enjoy a homestyle country breakfast, morning, noon, or night.
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="container-fluid">
        <div class="row">
<% listLunch.forEach(function(dish){ %>
  <div class="col-3 meal-content">
      <div class="meal-content-img-box">
          <a href="#lunch<%=dish.id%>" data-toggle="modal" data-target="#lunch<%=dish.id%>"
             class="meal-content-img play-icon popup-with-zoom-anim">
              <img class="item-img"
                   src="<%=dish.thumbnail%>"
                   alt="<%=dish.name%>">
          </a>
      </div>
      <div class="modal" id="lunch<%=dish.id%>">
          <div class="modal-dialog">
              <div class="modal-content">
                  <button type="button" class="close text-right pr-2" data-dismiss="modal">&times;</button>
                  <div class="modal-body">
                      <h3 class="text-center item-detail-heading"><%=dish.name%></h3>
                      <div class="item-detail-img">
                          <img src="<%=dish.thumbnail%>"
                               alt="<%=dish.name%>">
                      </div>
                      <p class="pt-3 text-center item-detail-text"><%=dish.description%></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
<% }); %>
        </div>
    </div>
</div>
<div class="container-fluid box-content breakfast pt-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="breakfast container-fluid">
                <div class="heading text-center"><h2>Dinner</h2></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p class="content text-center">Enjoy a homestyle country breakfast, morning, noon, or night.
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="container-fluid">
        <div class="row mb-5">
<% listDinner.forEach(function(dish){ %>
  <div class="col-3 meal-content">
      <div class="meal-content-img-box">
          <a href="#dinner<%=dish.id%>" data-toggle="modal" data-target="#dinner<%=dish.id%>"
             class="meal-content-img play-icon popup-with-zoom-anim">
              <img class="item-img"
                   src="<%=dish.thumbnail%>"
                   alt="<%=dish.name%>">
          </a>
      </div>
      <div class="modal" id="dinner<%=dish.id%>">
          <div class="modal-dialog">
              <div class="modal-content">
                  <button type="button" class="close text-right pr-2" data-dismiss="modal">&times;</button>
                  <div class="modal-body">
                      <h3 class="text-center item-detail-heading"><%=dish.name%></h3>
                      <div class="item-detail-img">
                          <img src="<%=dish.thumbnail%>"
                               alt="<%=dish.name%>">
                      </div>
                      <p class="pt-3 text-center item-detail-text"><%=dish.description%></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
<% }); %>
        </div>
    </div>
</div>
    <%  include common/footer %>
  </body>
</html>
